.paragraph{
    
/*     
        font-family: "Shadows Into Light", cursive; */
        font-weight: 300;
        font-style: normal;
        text-align: center;
        font-size: 135%;
       
      }

      .paragraph span {
        background-color: #36454F;
        color: white;
        padding: 0.1em 0.4em;
        border-radius: 10px;
        display: inline;
        text-shadow: 1px 1px 2px black; 
        background-image: linear-gradient(to right, #a15916, #078b8b); 
    }
    
    
      
    
