form {
    /**background-color: gray;**/
    margin: 0.5rem;
    display: flex;
    flex-direction: column;
}

input, select {
    width: 50%; 
    margin-bottom: 1rem;   
}

input[type="checkbox"] {
    width: 50%;
}

img {
    width: 50%;
    margin-bottom: 1rem;
}
